@import '../base';

#content {
  margin-top:-5vh;
  color:pink;
  grid-row:3/4;
  background-color:black;
  height:100vh;
}

h1 {
  color:white;
  font-family: $exo;
  margin-left:30%;
}



h2 {
  color:white;
  font-family: $til;
  margin-left:10%;
  width:70%;
}

#name {
    color:#7f4fa1;
}
#moon {
  color:#ee7ff0;
}

#aperture {
  color:#47a9ba;
}

@media screen and (min-width:1000px){
  #content {
    margin-top:-12vh;
    height:200vh;
  }

  h1 {
    font-size:6rem;
  }
  h2 {
    font-size:4rem;
  }
}


@media screen and (min-width:500px) and (max-width:999px){
  #content {
    margin-top:-12vh;
    height:300vh;
  }

  h1 {
    font-size:4rem;
  }
  h2 {
    font-size:4rem;
  }
}